<h1 class="center blue-grey darken-1">Add a Menu Item</h1>
<div class="row">
  <% @menu_add.each do |menu_add| %>
    <div class="col s12 m4">
      <div class="card blue-grey lighten-3">
        <div class="card-content white-text">
          <span class="card-title"><%= menu_add.name %></span>
          <p><%= menu_add.description %></p>
        </div>
        <div class="card-action">
          <a class="line_up btn teal lighten-1" href="/menu/<%= menu_add.id %>/edit">Edit</a>
            <form action="/menu/<%= menu_add.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
                <button class="line_up btn pink lighten-3">Delete</button>
            </form>
        </div>
      </div>
    </div>
  <% end %>
</div>