<h1 class="center">Menu App</h1>
  <div class="center card blue-grey darken-1">
    <div class="card-content white-text">
        <h3>View Menu</h3>
        <a href="/menu" class="btn pink lighten-3">View Full Menu</a>
    </div>
  </div>
  <div class="center card blue-grey darken-1">
    <div class="card-content white-text">
      <h3>New Item</h3>
      <a href="/menu/new" class="btn pink lighten-3">Add New Item</a>
    </div>
  </div>
