<html>
  <head>
    <title>Menu App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="<%= url('/main.css') %>" rel="stylesheet" type="text/css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <%= erb :navbar %>
    <div class="container">
      <%= yield %> <!--all of our erb templates will render where the <%= yield %> keyword is containing our CSS frameworks and meta tags.-->
    </div>
  </body>
</html>