<nav class="teal lighten-1">
  <div class="nav-wrapper white-text">
    <a href="/" class="brand-logo right">Menu App</a>
    <ul id="nav-mobile" class="left">
      <li><a href="/menu">View Menu</a></li>
      <li><a href="/menu/new">New Item</a></li>
    </ul>
  </div>
</nav>