<nav class="teal lighten-1">
  <div class="nav-wrapper white-text">
    <a href="/" class="brand-logo right"><img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Dr_House.png" height="60" alt="Menu Logo"></a>
    <ul id="nav-mobile" class="left">
      <li><a href="/menu"><img src="https://png.icons8.com/ios/1600/restaurant-menu.png" height="65" alt="Add Item"></a></li>
      <li><a href="/menu/new"><img src="https://openclipart.org/download/250266/1464710523.svg" height="65" alt="Add Item"></a></li>
      <li><a href="/main"><img src="https://cdn3.iconfinder.com/data/icons/social-messaging-productivity-4/128/home2-256.png" height="60" alt="Returant Main Page"></a></li>
    </ul>
  </div>
</nav>

