<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo right">Menu App</a>
    <ul id="nav-mobile" class="left">
      <li><a href="/apps">Menu Items</a></li>
      <li><a href="/apps/new">New Item</a></li>
    </ul>
  </div>
</nav>